* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

main {
    max-width: 1024px;
    margin: 0 auto;
    margin-bottom:2%;
}

nav {
    background-color: darkslategrey;
    height: 5rem;
    color: white;
    font-weight: bolder;
    font-size: larger;
    border-bottom: 2px solid silver;
}

nav ul {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
}

nav ul li {
    display: block;
    padding: 1rem;
}

a {
    color: white;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-container>* {
    flex: 1 1 31%;
    display: flex;
    border: 1px solid silver;
    border-radius: 2%;
    margin: 1rem;
    padding: .5rem;
    background-color: silver;
    min-width: 200px;
    flex-wrap: wrap;
}

.img-fluid {
    width: 100%;
    max-width: 270px;
    margin: auto;
    border-radius: 4%;
    padding-right: 0.3rem;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: silver;
    width: 40%;
    padding-left: 2%;
}

.content h2,p {
    font-family: sans-serif;
    text-align: center;
}

.content h2 {
    border-bottom: 1px solid silver;
}

video {
    border-radius:10%;
}

aside p {
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}

footer{
    background-color: darkslategrey;
    height: 200px;
    color:white;
    text-align: center;
    font-size:larger;
}